<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section th:replace="/blog/commons/head.html :: head"></section>
    <body>
        <div class="container">
            <section th:replace="/blog/commons/header.html :: header"></section>
            <section th:replace="/blog/commons/menu.html :: menu"></section>
            <section th:replace="/blog/commons/banner.html :: banner"></section>
            <div class="row mb-2">
                <div class="col-md-6">
                    <section th:replace="/blog/commons/post-widget.html :: widget"></section>
                </div>
                <div class="col-md-6">
                    <section th:replace="/blog/commons/post-widget.html :: widget"></section>
                </div>
            </div>
        </div>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <section th:replace="/blog/commons/post.html :: post"></section>
                    <section th:replace="/blog/commons/post.html :: post"></section>
                    <section th:replace="/blog/commons/post.html :: post"></section>
                </div>
                <aside class="col-md-4 blog-sidebar">
                    <section th:replace="/blog/commons/about.html :: about"></section>
                    <section th:replace="/blog/commons/archives.html :: archives"></section>
                    <section th:replace="/blog/commons/elsewhere.html :: elsewhere"></section>
                </aside>
            </div>
        </main>
        <section th:replace="/blog/commons/footer.html :: footer"></section>
    </body>
</html>

